{{ define "blog" }}

{{ template "header" }}

<admin class="admin">
    <div onclick="createModalAddPost()" class="admin-btn"><i class="fas fa-plus"></i></div>
    <div onclick="createModalDatabase()" class="admin-btn"><i class="fa-solid fa-database"></i></div>
</admin>

<div class="bgPage blog" >
    <div class="admin-add">
        <form action="blog/">
            <label for="">Заполните данные поста</label>
            <input name="Title" id="Title" type="text" placeholder="Введите название поста">
            <input name="Image" id="Image" type="text" placeholder="Введите путь картинке">
            <textarea name="Text" id="Text" id="" placeholder="Введите текст поста"></textarea>
            <!-- <input name="Image" id="Image" type="file" accept="image/*" multiple onchange="changeImages()">
            <div class="image-check"></div> -->
            <button type="submit" class="pre-order__button">Создать</button>
        </form>
    </div>
</div>

<!--Modal window-->
   
<div class="bgPage blog db" >
    <div class="admin-database">
            <a href="/admin" class="pre-order__button blog-bt">Список пользователей</a>
            <a href="/productList" class="pre-order__button blog-bt">Список товара</a>
            <a href="/postList" class="pre-order__button blog-bt">Список постов</a>
            <a href="/purchaseList" class="pre-order__button blog-bt">Список продаж</a>
            <a href="/seriesList" class="pre-order__button blog-bt">Список серий</a>
    </div>
</div>


<body class="body">
    
    <h1 class="News-title">Новости</h1>

    <section class="section"> 
        <div class="container-rec">
            <div class="container_slider_css">
                <img class="photo_slider_css" src="../data/index/stonksPrice.jpeg" alt="">
                <img class="photo_slider_css" src="../data/index/preOrder.jpeg" alt="">
                <img class="photo_slider_css" src="../data/index/stonksPrice.jpeg" alt="">
                <img class="photo_slider_css" src="../data/index/preOrder.jpeg" alt="">
              </div>
        </div>
    </section>

    <section class="section"> 
        <div class="container-rec">
            <div class="news">
                {{ range $_, $p := .Post }}
                <div class="post">
                    <img src="{{ $p.Image }}" alt="">
                    <div class="info">
                        <h3>{{ $p.Title }}</h3>
                        <div class="text">{{ $p.Text }}</div>
                        <div class="more">{{ $p.Data }}<span><i class="fa-regular fa-eye"></i> {{ $p.Id }}</span></div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>    

    <!-- {{range $_, $e := .Post }}
    <tr>
        <td>{{ $e.Id }}</td>
        <td>{{ $e.Title }}</td>
        <td>{{ $e.Text }} </td>
        <td>{{ $e.Image }} </td>
        <td>{{ $e.Data }}</td>
        
    </tr>
    {{ end }} -->
    <!-- <i id="mark"></i> -->

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>
    
    <!-- <h1>{{.}}</h1> -->
</body>

{{ template "footer" }}

{{ end }}
