{{ define "blog" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Блог</title>
</head>

<header>

    <div class="intro">
        <div class="intro__item">
            <div class="intro__brand"><a href="/"><img style="border-radius: 150px;" src="/data/logo.png" alt=""></a></div>
            <div class="intro__link">
                <a class="intro__link--item" href="/discount">Акции</a>
                

                <div class="dropdown">
                    <a class="intro__link--item " href="/smartphone">Смартфоны</a>
                    <div class="dropdown-content">
                        <div class="drop-content-item">
                            
                        </div>                           
                    </div>                   
               </div>
               <a class="intro__link--item" href="/periphery">Периферия</a>
               <a class="intro__link--item" href="/advance">Дополнительно</a>                           
                          
            </div>
        </div>
        <div class="intro__item intro__right">
            <div class="intro__link">
                <a class="intro__link--item active" href="/blog">Блог</a>
                <a class="intro__link--item" href="/brandphone">Все товары</a>
            </div>
            <div class="intro__imgLink">  
                <a class="intro__img" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="intro__img" href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <button  id="auth" class="intro__img" href=""><i onclick="authWindow()" id="user" class="fa-solid fa-user">
                <!-- {{ if ne .Men "" }}
                <i class="user_name ">{{ .Name }}</i>
                {{ end }} -->
                </i></button><!-- onclick="authWindow()" fas fa-plus -->
                
            </div>
        </div>
    </div>

    {{ if eq .Role "true" }}
        <i class="fas fa-plus"></i>
    {{ end }}
   
</header>


<!--Admin panel-->



<admin class="admin">
    <div onclick="createModalAddPost()" class="admin-btn"><i class="fas fa-plus"></i></div>
    <div onclick="createModalDatabase()" class="admin-btn"><i class="fa-solid fa-database"></i></div>
</admin>

<!--Modal window-->
<div class="bgPage blog" >
    <div class="admin-add">
        <form action="blog/createPost">
            <label for="">Заполните данные поста</label>
            <input name="Title" id="Title" type="text" placeholder="Введите название поста">
            <textarea name="Text" id="Text" id="" placeholder="Введите текст поста"></textarea>
            <input name="Image" id="Image" type="file" accept="image/*" multiple onchange="changeImages(this)">
            <div class="image-check"></div>
            <button type="submit" class="pre-order__button">Создать</button>
        </form>
    </div>
</div>

<div class="bgPage blog db" >
    <div class="admin-database">
            <a href="/admin" class="pre-order__button blog-bt">Список пользователей</a>
            <a class="pre-order__button blog-bt">Создать</a>
            <a class="pre-order__button blog-bt">Создать</a>
    </div>
</div>

<body>
    
    <!-- {{ if eq .Role true }} -->
        
    <!-- {{ end }} -->

    <!-- slider -->
    <section class="section"> 
        <div class="container-rec">
            <div class="slider"></div>
        </div>
    </section>

      <!-- <div class="post">
                    <img src="../data/index/3.jpeg" alt="">
                    <div class="info">
                        <h3>Знакомство с фотофлагманом</h3>
                        <div class="text">За последний год компания Xiaomi показала целую россыпь воистину интересных решений, который были реализованы на базе 12-ой серии.                            
                        </div>
                        <div class="more">Nov 06 2022 <span><i class="fa-regular fa-eye"></i> 1234</span></div>
                    </div>
        </div> -->

    <section class="section"> 
        <div class="container-rec">
            <div class="news">                          
                    <div class="post">
                        <img src="../data/index/3.jpeg" alt="">
                        <div class="info">
                            <h3>gsgd</h3>
                            <div class="text">123</div>
                            <div class="more">1234<span><i class="fa-regular fa-eye"></i> 1234</span></div>
                        </div>
                    </div>                         
            </div>
        </div>
    </section>    

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>
    
    <!-- <h1>{{.}}</h1> -->
</body>

{{ template "footer" }}

{{ end }}
