{{ define "brandphone" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Смартфоны</title>
</head>

{{ template "header" }}

<body>
    
    <div class="section">
        <div class="container brand">
           <div class="smart-part brandphone">
            <a id="brand" href="">
                <div class="title">Смартфоны</div></i>
            </a>
        </div>
        </div>
    </div>

    <section class="section">
        <div class="brand_list">
            <div class="brand-half">
                {{ range $_, $p := .Product }}    
                <div id="{{ $p.Article }}" class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">{{ $p.Series }} <span>{{ $p.Name }}</span></div>
                        <div class="description">{{ $p.Description  }}<span></span>{{ $p.Count }}</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">{{ $p.Price }} <span>рублей</span></div>
                            <div class="store-week_oldPrice"></div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="{{ $p.Image }}" alt="">
                    </div>
                </div>
                {{ end }}    
        </div>
    </section>

    <div class="section">
        <div class="container brand">
           <div class="smart-part brandphone">
            <a id="brand" href="">
                <div class="title">Периферия</div></i>
            </a>
        </div>
        </div>
    </div>
    
    <section class="section">
        <div class="brand_list">
            <div class="brand-half">
                {{ range $_, $p := .Periphery }}    
                <div id="{{ $p.Article }}" class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">{{ $p.Series }} <span>{{ $p.Name }}</span></div>
                        <div class="description">{{ $p.Description  }}<span></span>{{ $p.Count }}</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">{{ $p.Price }} <span>рублей</span></div>
                            <div class="store-week_oldPrice"></div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="{{ $p.Image }}" alt="">
                    </div>
                </div>
                {{ end }}    
        </div>
    </section>

    <script src="/assets/js/script.js"></script>
</body>

{{ template "footer" }}

{{ end }}
