{{ define "brandphone" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Document</title>
</head>

{{ template "header" }}

<body>
    
    <div class="section">
        <div class="container brand">
           <div class="smart-part brandphone">
            <a id="brand" href="">
                <div class="title">Смартфоны</div></i>
            </a>
        </div>
        </div>
    </div>
    
    <section class="section">
        <div class="brand_list">
            <div class="brand-half">
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>    
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="brand-half">
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!--
            
            
            Добавить кнопки остальные товары или что-то типо этого 


        -->

    <div class="section">
        <div class="container brand">
           <div class="smart-part brandphone">
            <a id="brand" href="">
                <div class="title">Периферия</div></i>
            </a>
        </div>
        </div>
    </div>
    
    <section class="section">
        <div class="brand_list">
            <div class="brand-half">
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>    
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="brand-half">
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="discount">Скидка 13%</div>
                    <div class="text">
                        
                        <div class="name">Xiaomi 12T Pro</div>
                        <div class="description">Система камер с разрешением до 200 Мп</div>
                        <div class="price">
                            
                            <div class="store-week_newPrice">52 990</div>
                            <div class="store-week_oldPrice">55 990</div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="pre-order__button">Купить</button>
                        <button class="pre-order__button white">Подробнее</button>
                        
                    </div>
                    <div class="image">
                        <img src="/data/discount/storeWeek1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/js/script.js"></script>
</body>

{{ template "footer" }}

{{ end }}
