{{ define "delUser" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/support.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Удаленные пользователи</title>
</head>
<body>

    <admin class="admin">
        <div style="opacity: .4; pointer-events: none; cursor: default;" onclick="" class="admin-btn"><i class="fas fa-plus"></i></div>
        <div style="opacity: .4; pointer-events: none; cursor: default;" onclick="" class="admin-btn"><i class="fa-solid fa-trash"></i></div>
        <a style="opacity: .4; pointer-events: none; cursor: default;" href="/adminList" class="admin-btn"><i class="fa-solid fa-lock"></i></a>
        <div style="opacity: .4; pointer-events: none; cursor: default;" onclick="createModalSerial()" class="admin-btn"><i class="fa-solid fa-s"></i></div>

        <a href="/admin" class="admin-btn"><i class="fa-solid fa-turn-down"></i></a>
    </admin>

    <h1>Список забаненых пользователей</h1> 
    {{ $length := len . }}
    <h3>Общее кол-во товара {{$length}}</h3> 

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Причина удаления</th>
            </tr>
        </thead> 
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Email }}</td>
            <td>{{ .Reason }} </td>            
        </tr>
        {{ end }}
    </tbody>
    </table>

    
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/admin.js"></script>
</body>

{{ end }}
