{{ define "discount" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Акции</title>
</head>

{{ template "header" }}

<body>

    <div style="background-color: rgb(194, 185, 231);" class="section">
        <div class="container">
            <div class="store-week">
                <div class="store-week-title"><a href="">Все для умного дома<i class="fa-solid fa-chevron-right"></i></a></div>
                <div class="store-week-content">
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-rec">
            <div class="recomProducts">
                <div class="recomProducts_title store-week-title">Рекомендуемые продукты</div>
                <div class="recomProducts_content">
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="background-color: rgb(236, 223, 209);;" class="section">
        <div class="container">
            <div class="store-week">
                <div class="store-week-title"><a href="">Новинки этого месяца<i class="fa-solid fa-chevron-right"></i></a></div>
                <div class="store-week-content">
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    <div class="store-week-contentItem">
                        <a href="">
                            <div class="store-week-contentItems">
                                <div class="store-week_name"><span style="font-weight:900; text-transform: uppercase;">Xiaomi </span>12T Pro</div>
                                
                                <div class="store-week_Price">
                                    <div class="store-week_newPrice">52 990</div>
                                    <div class="store-week_oldPrice">55 990</div>
                                </div>
                            </div>
                            <div class="store-week-contentItems"><img src="/data/discount/storeWeek1.jpeg" alt=""></div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-rec">
            <div class="recomProducts">
                <div class="recomProducts_title store-week-title">Рекомендуемые продукты</div>
                <div class="recomProducts_content">
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="recomProducts-item">
                        <a href="">
                            <div class="image">
                                <div class="discount">Скидка 13%</div>
                                <img src="/data/discount/storeWeek1.jpeg" alt="">
                            </div>
                            <div class="content">
                                <div class="title">Redmi 10C</div>
                                <div class="price">
                                    <div class="newPrice">15 000 P</div>
                                    <div class="oldPrice">17 000 P</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/script.js"></script>
</body>

{{ template "footer" }}

{{ end }}
