{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/support.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />
    <link rel="shortcut icon" href="/data/site.ico">
    <!-- <title>Блог</title> -->
</head>



<header>

    <div class="intro">
        <div class="intro__item">
            <div class="intro__brand"><a href="/"><img style="border-radius: 150px;" src="/data/logo.png" alt=""></a></div>
            <div class="intro__link">
                <a onclick="getActive()" class="intro__link--item" href="/discount">Акции</a>
                

                <div class="dropdown">
                    <a class="intro__link--item " href="/smartphone">Смартфоны</a>
                    <div class="dropdown-content">
                        <div class="drop-content-item">
                            {{range $_, $e := .Rows }}
                                <a class="drop-item" href="/smartphone#{{$e.Name}}"><img src="/data/logo.png" alt=""><br><span class="drop-item--name">{{$e.Name}}</span></a>                              
                            {{end}}
                        </div>                           
                    </div>                   
               </div>
               <a onclick="getActive()" class="intro__link--item" href="/periphery">Периферия</a>
               <a class="intro__link--item" href="#footer">Дополнительно</a>                           
                          
            </div>
        </div>
        <div class="intro__item intro__right">
            <div class="intro__link">
                <a onclick="getActive()" class="intro__link--item" href="/blog">Блог</a>
                <a onclick="getActive()" class="intro__link--item" href="/brandphone">Все товары</a>
            </div>
            <div class="intro__imgLink">  
                <a class="intro__img" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="intro__img" href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <button  id="auth" class="intro__img" href=""><i onclick="authWindow()" id="user" class="fa-solid fa-user">
                <!-- {{ if ne .Men "" }}
                <i class="user_name ">{{ .Name }}</i>
                {{ end }} -->
                </i></button><!-- onclick="authWindow()" fas fa-plus -->
                
            </div>
        </div>
    </div>

    <!-- {{ if eq .Role "true" }}
        <i class="fas fa-plus"></i>
    {{ end }} -->

    
    
    
   
</header>


<script src="/assets/js/script.js"></script>

<!--Admin panel-->

{{ end }}
