{{ define "postList" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/support.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Document</title>
</head>
<body>
    

    <admin class="admin">
        <div style="opacity: .4; pointer-events: none; cursor: default;" onclick="" class="admin-btn"><i class="fas fa-plus"></i></div>
        <div onclick="createModalAddPost()" class="admin-btn"><i class="fa-solid fa-trash"></i></div>
        <a style="opacity: .4; pointer-events: none; cursor: default;" href="/adminList" class="admin-btn"><i class="fa-solid fa-lock"></i></a>

        <a href="/blog" class="admin-btn"><i class="fa-solid fa-turn-down"></i></a>
    </admin>
    
    <!--Modal window-->
    <div class="bgPage blog" >
        <div class="admin-add">
            <form action="postList/">
                <label for="">Форма удаления поста</label>
                <input name="ID" id="ID" type="number" placeholder="Введите ID поста">
                <!-- <input name="Image" id="Image" type="file" accept="image/*" multiple onchange="changeImages()">
                <div class="image-check"></div> -->
                <button type="submit" class="pre-order__button">Удалить</button>
            </form>
        </div>
    </div>


    <h1>Список постов</h1> 
    {{ $length := len . }}
    <h3>Общее кол-во постов {{$length}}</h3> 

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Изображение</th>
                <th>Дата</th>
                
            </tr>
        </thead> 
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Id }}</td>
            <td>{{ .Title }}</td>
            <td>{{ .Text }} </td>
            <td>{{ .Image }} </td>
            <td>{{ .Data }}</td>
            
        </tr>
        {{ end }}
    </tbody>
    </table>

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>

</body>

{{ end }}
