{{ define "product" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/support.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Document</title>
</head>
<body>
    

    <admin class="admin">
        <a href="/productList/addProduct" class="admin-btn"><i class="fas fa-plus"></i></a>
        <div onclick="createModalAddPost()" class="admin-btn"><i class="fa-solid fa-trash"></i></div>
        <a style="opacity: .4; pointer-events: none; cursor: default;" href="/adminList" class="admin-btn"><i class="fa-solid fa-lock"></i></a>
        <a href="/seriesList" class="admin-btn"><i class="fa-solid fa-s"></i></a>

        <a href="/blog" class="admin-btn"><i class="fa-solid fa-turn-down"></i></a>
    </admin>
    
    <!--Modal window-->
    <!-- <div class="bgPage blog" >
        <div class="admin-ser">
            <form action="admin/">
                <label for="">Форма добавления пользователя</label>
                <input name="Email" id="Email" type="text" placeholder="Введите Email пользователя">
                <input name="Password" id="Password" type="text" placeholder="Введите пароль пользователя">
                <input name="Name" id="Name" type="text" placeholder="Введите имя пользователя">
                <button type="submit" class="pre-order__button">Добавить</button>
            </form>
        </div>
    </div> -->

    <div class="bgPage blog" >
        <div class="admin-add">
            <form action="product/del">
                <label for="">Форма удаления поста</label>
                <input name="ID" id="ID" type="number" placeholder="Введите ID поста">
                <!-- <input name="Image" id="Image" type="file" accept="image/*" multiple onchange="changeImages()">
                <div class="image-check"></div> -->
                <button type="submit" class="pre-order__button">Удалить</button>
            </form>
        </div>
    </div>

<!--    
    <div class="bgPage bl" >
        <div class="admin-del ">
            <form action="product/add">
                <label for="">Форма удаления пользователя</label>
                <input name="Email" id="Email" type="text" placeholder="Введите Email пользователя">
                <textarea name="Reason" id="Reason" id="" placeholder="Введите причину удаления"></textarea>
                <button type="submit" class="pre-order__button">Удалить</button>
            </form>
        </div>
    </div> -->

    <!-- <div class="bgPage blog" >
        <div class="admin-serial">
            <form action="admin/series">
                <label for="">Форма добавления серии товара</label>
                <input name="Name" id="Name" type="text" placeholder="Введите серию товара">
                <button type="submit" class="pre-order__button">Добавить</button>
            </form>
        </div>
    </div> -->
   


    <h1>Список товара</h1> 
    {{ $length := len . }}
    <h3>Общее кол-во товара {{$length}}</h3> 

    <table class="table">
        <thead>
            <tr>
                <th>Артикль</th>
                <th>Серия</th>
                <th>Имя</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Изображение</th>
                <th>Описание</th>
            </tr>
        </thead> 
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Article }}</td>
            <td>{{ .Series }} </td>
            <td>{{ .Name }} </td>
            <td>{{ .Price }}</td>
            <td>{{ .Count }} </td>
            <td>{{ .Image }} </td>
            <td>{{ .Description }}</td>
            
        </tr>
        {{ end }}
    </tbody>
    </table>

    
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/admin.js"></script>
</body>

{{ end }}
