{{ define "purchase" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/support.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Document</title>
</head>

<script>
    window.onload = function () {
        var values = document.getElementsByClassName("tp");
        var sum = 0;
        for (var i = 0, count = values.length; i < count; i++) {
            sum += Number(values[i].textContent || values[i].innerText);
        }
        // document.getElementById("total").value = sum;
        let element = document.querySelector('#total');
        let elem = document.querySelector('#profit');
        element.innerHTML = sum;

        var pr = sum * 0.3;
        elem.innerHTML = pr;
        //alert(sum);
    }
</script>

<body>
    

    <admin class="admin">
        <a href="/purchaseList/addPruchase" class="admin-btn"><i class="fas fa-plus"></i></a>
        <div style="opacity: .4; pointer-events: none; cursor: default;" onclick="" class="admin-btn"><i class="fa-solid fa-trash"></i></div>
        <a style="opacity: .4; pointer-events: none; cursor: default;" href="/adminList" class="admin-btn"><i class="fa-solid fa-lock"></i></a>

        <a href="/blog" class="admin-btn"><i class="fa-solid fa-turn-down"></i></a>
    </admin>
    
    <!--Modal window-->
    <div class="bgPage blog" >
        <div class="admin-add">
            <form action="admin/add">
                <label for="">Форма добавления пользователя</label>
                <input name="Email" id="Email" type="text" placeholder="Введите Email пользователя">
                <input name="Password" id="Password" type="text" placeholder="Введите пароль пользователя">
                <input name="Name" id="Name" type="text" placeholder="Введите имя пользователя">
                <button type="submit" class="pre-order__button">Добавить</button>
            </form>
        </div>
    </div>
   


    <h1>Список продаж</h1> 
    {{ $length := len . }}
    <h3>Общее кол-во продаж {{$length}}</h3>

    <h3>Общая прибыль: <span id="total"></span> рублей</h3> 

    <h3>Прибыль: <span id="profit"></span> рублей</h3>  

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Пользователь</th>
                <th>Продукт</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Дата</th>
                <th>Общая стоимость</th>
            </tr>
        </thead> 
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Id }}</td>
            <td>{{ .User }} </td>
            <td>{{ .Product }} </td>
            <td>{{ .Count }}</td>
            <td>{{ .Price }} </td>
            <td>{{ .Date }} </td>
            <td class="tp">{{ .TotalPrice }}</td>
            
        </tr>
        {{ end }}
    </tbody>
    </table>

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>

</body>

{{ end }}
