{{ define "registr"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/support.css">
    
    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Окно регистрации</title>
</head>

{{ template "header" }}

<body>
    
    <section class="section">
        <div class="registration">
            
            <div>Регистрация</div>
            <form method="POST" action="/regHandlerPost">
                <input id="email" placeholder="Введите адрес e-mail" name="email" type="text">
                <input id="pass1" placeholder="Введите пароль" name="pass1" type="password">
                <input id="pass2" placeholder="Введите пароль повторно" name="pass2" type="password">
                <input id="name" placeholder="Введите имя" name="name" type="text">

                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </section>

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>

</body>


{{ template "footer" }}

{{ end }}
