{{ define "user" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/support.css">

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/awesome/css/all.css" />

    <title>Таблица пользователей</title>
</head>
<body>
    

    <admin class="admin">
        <div onclick="createModalAdd()" class="admin-btn"><i class="fas fa-plus"></i></div>
        <div onclick="createModalDelete()" class="admin-btn"><i class="fa-solid fa-trash"></i></div>
        <a href="/admin/manager" class="admin-btn"><i class="fa-solid fa-lock"></i></a>

        <a href="/blog" class="admin-btn"><i class="fa-solid fa-turn-down"></i></a>
    </admin>
    


    <!--Modal window-->
    <div class="bgPage blog" >
        <div class="admin-add">
            <form action="admin/user">
                <label for="">Форма добавления пользователя</label>
                <input name="Email" id="Email" type="text" placeholder="Введите Email пользователя">
                <input name="Password" id="Password" type="text" placeholder="Введите пароль пользователя">
                <input name="Name" id="Name" type="text" placeholder="Введите имя пользователя">
                <button type="submit" class="pre-order__button">Добавить</button>
            </form>
        </div>
    </div>

   
   
    <div class="bgPage bl" >
        <div class="admin-del">
            <form action="admin/del">
                <label for="">Форма удаления пользователя</label>
                <input name="Email" id="Email" type="text" placeholder="Введите Email пользователя">
                <textarea name="Reason" id="Reason" placeholder="Введите причину удаления"></textarea>
                <button type="submit" class="pre-order__button">Удалить</button>
                <a href="/delUserList" class="pre-order__learnmore">Список удаленных пользователей</a>
            </form>
        </div>
    </div>
   


    <h1>Список пользователей</h1> 
    {{ $length := len . }}
    <h3>Общее кол-во пользователей {{$length}}</h3> 

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Пароль</th>
                <th>Имя пользователя</th>
            </tr>
        </thead> 
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Email }}</td>
            <td>{{ .Password }}</td>
            <td>{{ .Name }} </td>
        </tr>
        {{ end }}
    </tbody>
    </table>

    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/script.js"></script>

</body>

{{ end }}
